template(name="splash")
  .splash-container
    .inner
      h1 Meteor Run
      with user
        p Welcome {{username}}
      p Please use earphones for the best experience
      button.splash-start Start
    .fixed-bottom
      span Online Players:
        span.number 192,404,231.. maybe.. hopefully..